openapi: 3.0.3
info:
  title: Authlete API
  description: ""
  version: 3.0.16
  license:
    name: Apache 2.0
    url: https://www.apache.org/licenses/LICENSE-2.0.html
servers:
  - description: "\U0001F1FA\U0001F1F8 US Cluster"
    url: https://us.authlete.com
  - description: "\U0001F1EF\U0001F1F5 Japan Cluster"
    url: https://jp.authlete.com
  - description: "\U0001F1EA\U0001F1FA Europe Cluster"
    url: https://eu.authlete.com
  - description: "\U0001F1E7\U0001F1F7 Brazil Cluster"
    url: https://br.authlete.com
security:
  - bearer: []
tags:
  - name: Service Management
    description: API endpoints for managing services, including creation, update, and deletion of services.
    x-tag-expanded: false
  - name: Client Management
    description: API endpoints for managing OAuth clients, including creation, update, and deletion of clients.
    x-tag-expanded: false
  - name: Authorization Endpoint
    description: API endpoints for implementing OAuth 2.0 Authorization Endpoint.
    x-tag-expanded: false
  - name: Pushed Authorization Endpoint
    description: API endpoints for implementing OAuth 2.0 Pushed Authorization Requests (PAR).
    x-tag-expanded: false
  - name: Token Endpoint
    description: API endpoints for implementing OAuth 2.0 Token Endpoint.
    x-tag-expanded: false
  - name: Token Operations
    description: API endpoints for various token related operations, including creating, revoking and deleting access_tokens with specified scopes.
    x-tag-expanded: false
  - name: Introspection Endpoint
    description: API endpoints for implementing OAuth 2.0 Introspection Endpoint.
    x-tag-expanded: false
  - name: Revocation Endpoint
    description: API endpoint for implementing OAuth 2.0 Revocation Endpoint.
    x-tag-expanded: false
  - name: UserInfo Endpoint
    description: API endpoints for implementing OpenID Connect UserInfo Endpoint.
    x-tag-expanded: false
  - name: JWK Set Endpoint
    description: API endpoints for to generate JSON Web Key Set (JWKS) for a service.
    x-tag-expanded: false
  - name: Discovery Endpoint
    description: API endpoints for implementing OpenID Connect Discovery.
    x-tag-expanded: false
  - name: Configuration Endpoint
    description: API endpoint for accessing configuration settings for a service.
    x-tag-expanded: false
  - name: Dynamic Client Registration
    description: API endpoints for implementing OAuth 2.0 Dynamic Client Registration.
    x-tag-expanded: false
  - name: CIBA
    description: API endpoints for implementing Client-Initiated Backchannel Authentication (CIBA).
    x-tag-expanded: false
  - name: Grant Management Endpoint
    description: API endpoint for implementing OAuth 2.0 grants, including grant management actions like updating and revoking grants.
    x-tag-expanded: false
  - name: Jose Object
    description: API endpoints for JOSE objects.
    x-tag-expanded: false
  - name: Device Flow
    description: API endpoints for implementing OAuth 2.0 Device Flow
    x-tag-expanded: false
  - name: Federation Endpoint
    description: API endpoints for implementing OpenID Federation using Authlete.
    x-tag-expanded: false
  - name: Verifiable Credential Issuer
    description: API endpoints for implementing and running a Verifiable Credential Issuer (VCI).
    x-tag-expanded: false
  - name: Hardware Security Key
    description: API endpoints for managing hardware security keys (HSK).
    x-tag-expanded: false
  - name: Utility Endpoints
    description: API endpoints for various utility operations.
    x-tag-expanded: false
  - name: Native SSO
    description: API endpoints for Native SSO
    x-tag-expanded: false
  - name: Audit Logs
    description: API endpoints for retrieving audit logs, hosted on the Authlete IdP server.
    x-tag-expanded: false
paths:
  /api/{serviceId}/service/get:
    get:
      summary: Get Service
      description: |
        Get a service.

        If the access token can only view or modify clients underneath this service, but does not
        have access to view this service directly, a limited view of the service will be returned.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          schema:
            type: integer
            format: int64
            x-speakeasy-match: apiKey
          required: true
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
              examples:
                full:
                  summary: Example showing the full service object.
                  value:
                    accessTokenDuration: 3600
                    accessTokenType: Bearer
                    allowableClockSkew: 0
                    apiKey: 21653835348762
                    attributes:
                      - key: attribute1-key
                        value: attribute1-value
                      - key: attribute2-key
                        value: attribute2-value
                    authorizationEndpoint: https://my-service.example.com/authz
                    authorizationResponseDuration: 0
                    authorizationCodeDuration: 0
                    backchannelAuthReqIdDuration: 0
                    backchannelBindingMessageRequiredInFapi: false
                    backchannelPollingInterval: 0
                    backchannelUserCodeParameterSupported: false
                    claimShortcutRestrictive: false
                    clientIdAliasEnabled: true
                    clientsPerDeveloper: 0
                    createdAt: 1639373421000
                    dcrScopeUsedAsRequestable: false
                    deviceFlowCodeDuration: 0
                    deviceFlowPollingInterval: 0
                    directAuthorizationEndpointEnabled: false
                    directIntrospectionEndpointEnabled: false
                    directJwksEndpointEnabled: false
                    directRevocationEndpointEnabled: false
                    directTokenEndpointEnabled: false
                    directUserInfoEndpointEnabled: false
                    dynamicRegistrationSupported: false
                    errorDescriptionOmitted: false
                    errorUriOmitted: false
                    frontChannelRequestObjectEncryptionRequired: false
                    grantManagementActionRequired: false
                    hsmEnabled: false
                    idTokenDuration: 0
                    introspectionEndpoint: https://my-service.example.com/introspection
                    issSuppressed: false
                    issuer: https://my-service.example.com
                    metadata:
                      - key: clientCount
                        value: '1'
                    missingClientIdAllowed: false
                    modifiedAt: 1639373421000
                    mutualTlsValidatePkiCertChain: false
                    nbfOptional: false
                    number: 5041
                    parRequired: false
                    pkceRequired: true
                    pkceS256Required: false
                    pushedAuthReqDuration: 0
                    refreshTokenDuration: 3600
                    refreshTokenDurationKept: false
                    refreshTokenDurationReset: false
                    refreshTokenKept: false
                    requestObjectEncryptionAlgMatchRequired: false
                    requestObjectEncryptionEncMatchRequired: false
                    requestObjectRequired: false
                    revocationEndpoint: https://my-service.example.com/revocation
                    scopeRequired: false
                    serviceName: My service
                    serviceOwnerNumber: 2
                    singleAccessTokenPerSubject: false
                    supportedClaimTypes:
                      - NORMAL
                    supportedDisplays:
                      - PAGE
                    supportedGrantTypes:
                      - AUTHORIZATION_CODE
                      - REFRESH_TOKEN
                    supportedIntrospectionAuthMethods:
                      - CLIENT_SECRET_BASIC
                    supportedResponseTypes:
                      - CODE
                    supportedRevocationAuthMethods:
                      - CLIENT_SECRET_BASIC
                    supportedScopes:
                      - defaultEntry: false
                        description: A permission to read your history.
                        name: history.read
                      - defaultEntry: false
                        description: A permission to read your timeline.
                        name: timeline.read
                    supportedTokenAuthMethods:
                      - CLIENT_SECRET_BASIC
                    tlsClientCertificateBoundAccessTokens: false
                    tokenEndpoint: https://my-service.example.com/token
                    tokenExpirationLinked: false
                    traditionalRequestObjectProcessingApplied: false
                    unauthorizedOnClientConfigSupported: false
                    userCodeLength: 0
                limited:
                  summary: Example showing the limited service object.
                  value:
                    apiKey: 21653835348762
                    description: This Service.
                    number: 5041
                    serviceName: My service
          links:
            service_get_list:
              $ref: '#/components/links/service_get_list'
            service_update:
              $ref: '#/components/links/service_update'
            service_delete:
              $ref: '#/components/links/service_delete'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: service_get_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/21653835348762/service/get \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long serviceId = ...;

            api.getService(serviceId);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            serviceId = ...

            api.getService(serviceId)
      tags:
        - Service Management
      x-speakeasy-group: services
      x-speakeasy-name-override: retrieve
      x-speakeasy-entity-operation: Service#read
  /api/service/get/list:
    get:
      summary: List Services
      description: |
        Get a list of services.

        If the access token can only view or modify clients underneath a service, but does not
        have access to view that service directly, a limited view of the service will be returned.
        Otherwise, all properties of the service are returned.

        If the access token is an administrative token, this returns a list of all services on the Authlete instance.
        Otherwise, all services that the access token can view, even in a limited fashion, are returned.
      parameters:
        - in: query
          name: start
          schema:
            type: integer
            format: int32
          required: false
          description: Start index (inclusive) of the result set. The default value is 0. Must not be a negative number.
        - in: query
          name: end
          schema:
            type: integer
            format: int32
          required: false
          description: End index (exclusive) of the result set. The default value is 5. Must not be a negative number.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service_get_list_response'
              examples:
                full:
                  summary: Example showing the full service view.
                  value:
                    start: 0
                    end: 5
                    totalCount: 1
                    services:
                      - accessTokenDuration: 3600
                        accessTokenType: Bearer
                        allowableClockSkew: 0
                        apiKey: 21653835348762
                        apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                        attributes:
                          - key: attribute1-key
                            value: attribute1-value
                          - key: attribute2-key
                            value: attribute2-value
                        authorizationEndpoint: https://as.example.com/authz
                        authorizationResponseDuration: 0
                        authorizationCodeDuration: 0
                        backchannelAuthReqIdDuration: 0
                        backchannelBindingMessageRequiredInFapi: false
                        backchannelPollingInterval: 0
                        backchannelUserCodeParameterSupported: false
                        claimShortcutRestrictive: false
                        clientIdAliasEnabled: true
                        createdAt: 1639373421000
                        dcrScopeUsedAsRequestable: false
                        deviceFlowCodeDuration: 0
                        deviceFlowPollingInterval: 0
                        directAuthorizationEndpointEnabled: false
                        directIntrospectionEndpointEnabled: false
                        directJwksEndpointEnabled: false
                        directRevocationEndpointEnabled: false
                        directTokenEndpointEnabled: false
                        directUserInfoEndpointEnabled: false
                        dynamicRegistrationSupported: false
                        errorDescriptionOmitted: false
                        errorUriOmitted: false
                        frontChannelRequestObjectEncryptionRequired: false
                        grantManagementActionRequired: false
                        hsmEnabled: false
                        idTokenDuration: 0
                        introspectionEndpoint: https://my-service.example.com/introspection
                        issSuppressed: false
                        issuer: https://my-service.example.com
                        metadata:
                          - key: clientCount
                            value: '1'
                        missingClientIdAllowed: false
                        modifiedAt: 1639373421000
                        mutualTlsValidatePkiCertChain: false
                        nbfOptional: false
                        number: 5041
                        parRequired: false
                        pkceRequired: true
                        pkceS256Required: false
                        pushedAuthReqDuration: 0
                        refreshTokenDuration: 3600
                        refreshTokenDurationKept: false
                        refreshTokenDurationReset: false
                        refreshTokenKept: false
                        requestObjectEncryptionAlgMatchRequired: false
                        requestObjectEncryptionEncMatchRequired: false
                        requestObjectRequired: false
                        revocationEndpoint: https://my-service.example.com/revocation
                        scopeRequired: false
                        serviceName: My service
                        serviceOwnerNumber: 2
                        singleAccessTokenPerSubject: false
                        supportedClaimTypes:
                          - NORMAL
                        supportedDisplays:
                          - PAGE
                        supportedGrantTypes:
                          - AUTHORIZATION_CODE
                          - REFRESH_TOKEN
                        supportedIntrospectionAuthMethods:
                          - CLIENT_SECRET_BASIC
                        supportedResponseTypes:
                          - CODE
                        supportedRevocationAuthMethods:
                          - CLIENT_SECRET_BASIC
                        supportedScopes:
                          - defaultEntry: false
                            description: A permission to read your history.
                            name: history.read
                          - defaultEntry: false
                            description: A permission to read your timeline.
                            name: timeline.read
                        supportedTokenAuthMethods:
                          - CLIENT_SECRET_BASIC
                        tlsClientCertificateBoundAccessTokens: false
                        tokenEndpoint: https://my-service.example.com/token
                        tokenExpirationLinked: false
                        traditionalRequestObjectProcessingApplied: false
                        unauthorizedOnClientConfigSupported: false
                        userCodeLength: 0
                limited:
                  summary: Example showing the limited service view.
                  value:
                    start: 0
                    end: 5
                    totalCount: 1
                    services:
                      - apiKey: 21653835348762
                        clientIdAliasEnabled: true
                        number: 5041
                        serviceName: My service
          links:
            service_create:
              $ref: '#/components/links/service_create'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: service_get_list_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/9503564192/service/get/list?start=0\&end=5 \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            int start = 0;
            int end = 5;

            api.getServiceList(start, end);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            start = 0
            end = 5

            api.getServiceList(start, end)
      tags:
        - Service Management
      x-speakeasy-group: services
      x-speakeasy-name-override: list
  /api/service/create:
    post:
      summary: Create Service
      description: |
        Create a new service.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
            example:
              serviceName: My service
              issuer: https://my-service.example.com
              clientIdAliasEnabled: true
              supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
              supportedResponseTypes:
                - CODE
              authorizationEndpoint: https://my-service.example.com/authz
              pkceRequired: true
              tokenEndpoint: https://my-service.example.com/token
              supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
              revocationEndpoint: https://my-service.example.com/revocation
              supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
              introspectionEndpoint: https://my-service.example.com/introspection
              supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
              accessTokenType: Bearer
              accessTokenDuration: 3600
              refreshTokenDuration: 3600
              supportedScopes:
                - name: timeline.read
                  defaultEntry: false
                  description: A permission to read your timeline.
                - name: history.read
                  defaultEntry: false
                  description: A permission to read your history.
              attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/service'
      responses:
        '200':
          description: Service created successfully (legacy compatibility)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
              example:
                accessTokenDuration: 3600
        '201':
          description: Service created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                authorizationCodeDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                  - key: clientCount
                    value: '0'
                missingClientIdAllowed: false
                modifiedAt: 1639373421000
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                  - NORMAL
                supportedDisplays:
                  - PAGE
                supportedGrantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                  - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                  - CODE
                supportedRevocationAuthMethods:
                  - CLIENT_SECRET_BASIC
                supportedScopes:
                  - defaultEntry: false
                    description: A permission to read your history.
                    name: history.read
                  - defaultEntry: false
                    description: A permission to read your timeline.
                    name: timeline.read
                supportedTokenAuthMethods:
                  - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: service_create_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://us.authlete.com/api/service/create \
            -H 'Content-Type:application/json' \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "serviceName": "My Service", ... }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            Service service = new Service();
            service.setServiceName("My Service");
            ...

            api.createService(service);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            service = Service()
            service.serviceName = 'My Service'
            ...

            api.createService(service)
      tags:
        - Service Management
      x-speakeasy-group: services
      x-speakeasy-name-override: create
  /api/{serviceId}/service/update:
    post:
      summary: Update Service
      description: |
        Update a service.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          schema:
            type: integer
            format: int64
            x-speakeasy-match: apiKey
          required: true
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service'
            example:
              accessTokenDuration: 3600
              accessTokenType: Bearer
              allowableClockSkew: 0
              attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
              authorizationEndpoint: https://my-service.example.com/authz
              authorizationResponseDuration: 0
              authorizationCodeDuration: 0
              backchannelAuthReqIdDuration: 0
              backchannelBindingMessageRequiredInFapi: false
              backchannelPollingInterval: 0
              backchannelUserCodeParameterSupported: false
              claimShortcutRestrictive: false
              clientIdAliasEnabled: true
              clientsPerDeveloper: 0
              dcrScopeUsedAsRequestable: false
              deviceFlowCodeDuration: 0
              deviceFlowPollingInterval: 0
              directAuthorizationEndpointEnabled: false
              directIntrospectionEndpointEnabled: false
              directJwksEndpointEnabled: false
              directRevocationEndpointEnabled: false
              directTokenEndpointEnabled: false
              directUserInfoEndpointEnabled: false
              dynamicRegistrationSupported: false
              errorDescriptionOmitted: false
              errorUriOmitted: false
              frontChannelRequestObjectEncryptionRequired: false
              grantManagementActionRequired: false
              hsmEnabled: false
              idTokenDuration: 0
              introspectionEndpoint: https://my-service.example.com/introspection
              issSuppressed: false
              issuer: https://my-service.example.com
              missingClientIdAllowed: false
              mutualTlsValidatePkiCertChain: false
              nbfOptional: false
              parRequired: false
              pkceRequired: true
              pkceS256Required: false
              pushedAuthReqDuration: 0
              refreshTokenDuration: 3600
              refreshTokenDurationKept: false
              refreshTokenDurationReset: false
              refreshTokenKept: false
              requestObjectEncryptionAlgMatchRequired: false
              requestObjectEncryptionEncMatchRequired: false
              requestObjectRequired: false
              revocationEndpoint: https://my-service.example.com/revocation
              scopeRequired: false
              serviceName: My updated service
              singleAccessTokenPerSubject: false
              supportedClaimTypes:
                - NORMAL
              supportedDisplays:
                - PAGE
              supportedGrantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
              supportedIntrospectionAuthMethods:
                - CLIENT_SECRET_BASIC
              supportedResponseTypes:
                - CODE
              supportedRevocationAuthMethods:
                - CLIENT_SECRET_BASIC
              supportedScopes:
                - defaultEntry: false
                  description: A permission to read your history.
                  name: history.read
                - defaultEntry: false
                  description: A permission to read your timeline.
                  name: timeline.read
              supportedTokenAuthMethods:
                - CLIENT_SECRET_BASIC
              tlsClientCertificateBoundAccessTokens: false
              tokenEndpoint: https://my-service.example.com/token
              tokenExpirationLinked: false
              traditionalRequestObjectProcessingApplied: false
              unauthorizedOnClientConfigSupported: false
              userCodeLength: 0
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/service'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
              example:
                accessTokenDuration: 3600
                accessTokenType: Bearer
                allowableClockSkew: 0
                apiKey: 21653835348762
                apiSecret: uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls
                attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                authorizationEndpoint: https://my-service.example.com/authz
                authorizationResponseDuration: 0
                authorizationCodeDuration: 0
                backchannelAuthReqIdDuration: 0
                backchannelBindingMessageRequiredInFapi: false
                backchannelPollingInterval: 0
                backchannelUserCodeParameterSupported: false
                claimShortcutRestrictive: false
                clientIdAliasEnabled: true
                clientsPerDeveloper: 0
                createdAt: 1639373421000
                dcrScopeUsedAsRequestable: false
                deviceFlowCodeDuration: 0
                deviceFlowPollingInterval: 0
                directAuthorizationEndpointEnabled: false
                directIntrospectionEndpointEnabled: false
                directJwksEndpointEnabled: false
                directRevocationEndpointEnabled: false
                directTokenEndpointEnabled: false
                directUserInfoEndpointEnabled: false
                dynamicRegistrationSupported: false
                errorDescriptionOmitted: false
                errorUriOmitted: false
                frontChannelRequestObjectEncryptionRequired: false
                grantManagementActionRequired: false
                hsmEnabled: false
                idTokenDuration: 0
                introspectionEndpoint: https://my-service.example.com/introspection
                issSuppressed: false
                issuer: https://my-service.example.com
                metadata:
                  - key: clientCount
                    value: '1'
                missingClientIdAllowed: false
                modifiedAt: 1639373420725
                mutualTlsValidatePkiCertChain: false
                nbfOptional: false
                number: 5041
                parRequired: false
                pkceRequired: true
                pkceS256Required: false
                pushedAuthReqDuration: 0
                refreshTokenDuration: 3600
                refreshTokenDurationKept: false
                refreshTokenDurationReset: false
                refreshTokenKept: false
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                revocationEndpoint: https://my-service.example.com/revocation
                scopeRequired: false
                serviceName: My updated service
                serviceOwnerNumber: 2
                singleAccessTokenPerSubject: false
                supportedClaimTypes:
                  - NORMAL
                supportedDisplays:
                  - PAGE
                supportedGrantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                supportedIntrospectionAuthMethods:
                  - CLIENT_SECRET_BASIC
                supportedResponseTypes:
                  - CODE
                supportedRevocationAuthMethods:
                  - CLIENT_SECRET_BASIC
                supportedScopes:
                  - defaultEntry: false
                    description: A permission to read your history.
                    name: history.read
                  - defaultEntry: false
                    description: A permission to read your timeline.
                    name: timeline.read
                supportedTokenAuthMethods:
                  - CLIENT_SECRET_BASIC
                tlsClientCertificateBoundAccessTokens: false
                tokenEndpoint: https://my-service.example.com/token
                tokenExpirationLinked: false
                traditionalRequestObjectProcessingApplied: false
                unauthorizedOnClientConfigSupported: false
                userCodeLength: 0
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: service_update_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://us.authlete.com/api/21653835348762/service/update \
            -H 'Content-Type:application/json' \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "serviceName": "My updated service", ... }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            // Get an existing service.
            long serviceId = ...;
            Service service = api.getService(serviceId);

            // Update "service name".
            service.setAServiceName("My updated service");

            api.updateService(service);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            # Get an existing service.
            serviceId = ...
            service = api.getService(serviceId)

            # Update "service name".
            service.serviceName = 'My updated service'

            api.updateService(service)
      tags:
        - Service Management
      x-speakeasy-group: services
      x-speakeasy-name-override: update
      x-speakeasy-entity-operation: Service#update
  /api/{serviceId}/service/delete:
    delete:
      summary: Delete Service ⚡
      description: |
        Delete a service.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          schema:
            type: string
          required: true
      responses:
        '204':
          description: The service was successfully deleted.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: service_delete_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X DELETE https://us.authlete.com/api/9503564192/service/delete/21653835348762 \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long serviceId = ...;

            api.deleteService(serviceId);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            serviceId = ...

            api.deleteService(serviceId)
      tags:
        - Service Management
      x-speakeasy-group: services
      x-speakeasy-name-override: destroy
  /api/service:
    servers:
      - url: https://login.authlete.com
        description: IDP Server
        x-speakeasy-server-id: idp
    post:
      summary: Create Service (IDP)
      description: |
        Create a new service on the API server, belonging to the specified organization.
        A service can be created with an organization token or by a user with the CREATE_SERVICE role.

        This endpoint is hosted on the Authlete IdP server (`https://login.authlete.com`),
        not on the regional API clusters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service_create_idp_request'
            example:
              apiServerId: 76281
              organizationId: 123456789012345
              service:
                serviceName: My service
                issuer: https://my-service.example.com
      responses:
        '200':
          description: Service created successfully.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/service'
              example:
                apiKey: 21653835348762
                serviceName: My service
                issuer: https://my-service.example.com
                createdAt: 1639373421000
                modifiedAt: 1639373421000
        '400':
          $ref: '#/components/responses/idp_400'
        '401':
          $ref: '#/components/responses/idp_401'
        '403':
          $ref: '#/components/responses/idp_403'
        '500':
          $ref: '#/components/responses/idp_500'
      operationId: service_create_idp_api
      x-speakeasy-group: service
      x-speakeasy-name-override: create
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://login.authlete.com/api/service \
            -H 'Content-Type:application/json' \
            -H 'Authorization: Bearer <organization-token>' \
            -d '{ "apiServerId": 76281, "organizationId": 123456789012345, "service": { "serviceName": "My Service" } }'
      tags:
        - Service Management
      x-speakeasy-entity-operation: Service#create
  /api/service/remove:
    servers:
      - url: https://login.authlete.com
        description: IDP Server
        x-speakeasy-server-id: idp
    post:
      summary: Remove Service (IDP) ⚡
      description: |
        Delete a service from the API server.
        A service can be deleted with an organization token or by a user with the MODIFY_SERVICE role.

        This endpoint is hosted on the Authlete IdP server (`https://login.authlete.com`),
        not on the regional API clusters.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/service_remove_idp_request'
            example:
              apiServerId: 76281
              organizationId: 123456789012345
              serviceId: 21653835348762
      responses:
        '204':
          description: Service removed successfully.
        '400':
          $ref: '#/components/responses/idp_400'
        '401':
          $ref: '#/components/responses/idp_401'
        '403':
          $ref: '#/components/responses/idp_403'
        '500':
          $ref: '#/components/responses/idp_500'
      operationId: service_remove_idp_api
      x-speakeasy-group: service
      x-speakeasy-name-override: remove
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://login.authlete.com/api/service/remove \
            -H 'Content-Type:application/json' \
            -H 'Authorization: Bearer <organization-token>' \
            -d '{ "apiServerId": 76281, "organizationId": 123456789012345, "serviceId": 21653835348762 }'
      tags:
        - Service Management
      x-speakeasy-entity-operation: Service#delete
  /api/audit/entries:
    servers:
      - url: https://login.authlete.com
        description: IDP Server
        x-speakeasy-server-id: idp
    get:
      summary: Get Audit Logs
      description: |
        Retrieve audit logs as a cursor-paginated list. Results can be filtered by time range, event type,
        and organization.
      x-mint:
        metadata:
          description: "Retrieve audit logs as a cursor-paginated list. Results can be filtered by time range, event type, and organization."
        content: |
          <Accordion title="Full description" defaultOpen={false}>
          The response contains a page of roughly `limit` entries together with a `nextCursor` value.
          Entries sharing the same timestamp are never split across pages, so a page may occasionally
          contain more than `limit` entries. To fetch the next page, repeat the request with the `cursor`
          parameter set to the `nextCursor` value from the previous response, keeping the other filter
          parameters unchanged. `nextCursor` is absent on the last page. If both `before` and `cursor`
          are provided, `cursor` takes precedence.

          This endpoint is hosted on the Authlete IdP server (`https://login.authlete.com`),
          not on the regional API clusters.
          </Accordion>
      parameters:
        - name: after
          in: query
          required: false
          description: Return logs after this timestamp (ISO 8601).
          schema:
            type: string
            format: date-time
        - name: before
          in: query
          required: false
          description: Return logs before this timestamp (ISO 8601).
          schema:
            type: string
            format: date-time
        - name: types
          in: query
          required: false
          description: |
            Filter by event type (e.g. `service.create`, `security.login`, `client.create`).
            Can be specified multiple times. The set of available event types is environment-specific
            and includes server-side types; retrieve the full list from the `/api/audit/types` endpoint.
          schema:
            type: array
            uniqueItems: true
            items:
              type: string
              example: service.create
        - name: organizationId
          in: query
          required: false
          description: |
            The organization to retrieve audit logs for. Not required when authenticating with an
            organization token — the token's own organization is used, and a differing value is
            rejected. Required for user access tokens, unless the user is an Authlete administrator
            (administrators may omit it to query across all organizations).
          schema:
            type: integer
            format: int64
        - name: limit
          in: query
          required: false
          description: |
            The maximum number of entries to return per page. Values outside the allowed range are
            clamped; the effective value is echoed back in the response.
          schema:
            type: integer
            default: 100
            minimum: 1
            maximum: 1000
        - name: cursor
          in: query
          required: false
          description: |
            An opaque cursor returned as `nextCursor` by a previous response. When provided, it takes
            precedence over the `before` parameter.
          schema:
            type: string
      responses:
        '200':
          description: A page of audit log entries matching the query.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/audit_entries_get_response'
              example:
                entries:
                  - event: service.create
                    status: completed
                    timestamp: '2026-06-01T12:34:56Z'
                    cluster: us
                    path: /api/service
                    remoteAddr: 203.0.113.10
                    userAgent: curl/8.4.0
                    user: admin@example.com
                    details:
                      serviceId: 21653835348762
                      organizationId: 123456789012345
                nextCursor: MjAyNi0wNi0wMVQxMjozNDo1Nlo
                limit: 100
        '400':
          $ref: '#/components/responses/idp_400'
        '401':
          $ref: '#/components/responses/idp_401'
        '403':
          $ref: '#/components/responses/idp_403'
        '500':
          $ref: '#/components/responses/idp_500'
      operationId: audit_entries_get_idp_api
      x-speakeasy-group: audit
      x-speakeasy-name-override: get
      x-speakeasy-pagination:
        type: cursor
        inputs:
          - name: cursor
            in: parameters
            type: cursor
        outputs:
          nextCursor: $.nextCursor
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v "https://login.authlete.com/api/audit/entries?types=service.create&limit=100" \
            -H 'Authorization: Bearer <organization-token>'
      tags:
        - Audit Logs
  /api/audit/types:
    servers:
      - url: https://login.authlete.com
        description: IDP Server
        x-speakeasy-server-id: idp
    get:
      summary: Get Audit Log Event Types
      description: |
        Returns the list of available audit log event types for this environment.

        Accessible with a user access token or an organization token that has the
        `view_audit_log` permission (e.g. a token created with the `admin` or
        `audit_reader` preset).

        This endpoint is hosted on the Authlete IdP server (`https://login.authlete.com`),
        not on the regional API clusters.
      responses:
        '200':
          description: List of available audit event type strings.
          content:
            application/json:
              schema:
                type: array
                uniqueItems: true
                items:
                  type: string
              example:
                - organization.create
                - security.login
                - service.create
                - service.delete
        '400':
          $ref: '#/components/responses/idp_400'
        '401':
          $ref: '#/components/responses/idp_401'
        '403':
          $ref: '#/components/responses/idp_403'
        '500':
          $ref: '#/components/responses/idp_500'
      operationId: audit_types_get_idp_api
      x-speakeasy-group: audit
      x-speakeasy-name-override: getTypes
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://login.authlete.com/api/audit/types \
            -H 'Authorization: Bearer <access-token>'
      tags:
        - Audit Logs
  /api/{serviceId}/client/get/{clientId}:
    get:
      summary: Get Client
      description: |
        Get a client.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: integer
            format: int64
          required: true
          description: A client ID.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client'
              example:
                applicationType: WEB
                attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639468356000
                number: 6164
                parRequired: false
                redirectUris:
                  - https://my-client.example.com/cb1
                  - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                  - CODE
                  - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_get_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/21653835348762/client/get/26478243745571 \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long clientId = ...;

            api.getClient(clientId);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientId = ...

            api.getClient(clientId)
      tags:
        - Client Management
      x-speakeasy-group: clients
      x-speakeasy-name-override: retrieve
      x-speakeasy-entity-operation: Client#read
  /api/{serviceId}/client/get/list:
    get:
      summary: List Clients
      description: |
        Get a list of clients on a service.

        If the access token can view a full service (including an admin), all clients within the
        service are returned. Otherwise, only clients that the access token can view within the
        service are returned.
        - ViewClient: []
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: query
          name: developer
          schema:
            type: string
          required: false
          description: |
            The developer of client applications. The default value is null. If this parameter is not set
            to `null`, client application of the specified developer are returned. Otherwise, all client
            applications that belong to the service are returned.
        - in: query
          name: start
          schema:
            type: integer
            format: int32
          required: false
          description: Start index (inclusive) of the result set. The default value is 0. Must not be a negative number.
        - in: query
          name: end
          schema:
            type: integer
            format: int32
          required: false
          description: End index (exclusive) of the result set. The default value is 5. Must not be a negative number.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_get_list_response'
              examples:
                full:
                  summary: Example showing full client view.
                  value:
                    clients:
                      - applicationType: WEB
                        attributes:
                          - key: attribute1-key
                            value: attribute1-value
                          - key: attribute2-key
                            value: attribute2-value
                        authTimeRequired: false
                        bcUserCodeRequired: false
                        clientId: 26478243745571
                        clientIdAlias: my-client
                        clientIdAliasEnabled: true
                        clientName: My client
                        clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                        clientType: CONFIDENTIAL
                        createdAt: 1639468356000
                        defaultMaxAge: 0
                        derivedSectorIdentifier: my-client.example.com
                        dynamicallyRegistered: false
                        frontChannelRequestObjectEncryptionRequired: false
                        grantTypes:
                          - AUTHORIZATION_CODE
                          - REFRESH_TOKEN
                        idTokenSignAlg: RS256
                        modifiedAt: 1639468356000
                        number: 6164
                        parRequired: false
                        redirectUris:
                          - https://my-client.example.com/cb1
                          - https://my-client.example.com/cb2
                        requestObjectEncryptionAlgMatchRequired: false
                        requestObjectEncryptionEncMatchRequired: false
                        requestObjectRequired: false
                        responseTypes:
                          - CODE
                          - TOKEN
                        serviceNumber: 5041
                        subjectType: PUBLIC
                        tlsClientCertificateBoundAccessTokens: false
                        tokenAuthMethod: CLIENT_SECRET_BASIC
                    end: 3
                    start: 0
                    totalCount: 1
                limited:
                  summary: Example showing limited client view.
                  value:
                    clients:
                      - clientId: 26478243745571
                        clientIdAlias: my-client
                        clientIdAliasEnabled: true
                        clientName: My client
                        clientType: CONFIDENTIAL
                        number: 6164
                    end: 3
                    start: 0
                    totalCount: 1
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_get_list_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/21653835348762/client/get/list?developer=john\&start=0\&end=5 \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            String developer = "john";
            int start = 0;
            int end = 5;

            api.getClientList(developer, start, end);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            developer = 'john'
            start = 0
            end = 5

            api.getClientList(developer, start, end)
      tags:
        - Client Management
      x-speakeasy-group: clients
      x-speakeasy-name-override: list
  /api/{serviceId}/client/create:
    post:
      summary: Create Client
      description: |
        Create a new client.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client'
            example:
              developer: john
              clientName: My Client
              clientIdAlias: my-client
              clientIdAliasEnabled: true
              clientType: CONFIDENTIAL
              applicationType: WEB
              grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
              responseTypes:
                - CODE
                - TOKEN
              redirectUris:
                - https://my-client.example.com/cb1
                - https://my-client.example.com/cb2
              tokenAuthMethod: CLIENT_SECRET_BASIC
              attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
      responses:
        '200':
          description: Client created successfully (legacy compatibility)
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client'
              example:
                applicationType: WEB
                clientId: 26478243745571
        '201':
          description: Client created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client'
              example:
                applicationType: WEB
                attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639468356000
                number: 6164
                parRequired: false
                redirectUris:
                  - https://my-client.example.com/cb1
                  - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                  - CODE
                  - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_create_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://us.authlete.com/api/21653835348762/client/create \
            -H 'Content-Type:application/json' \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "developer": "john", "clientName": "My Client", ... }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            Client client = new Client();
            client.setDeveloper("john");
            client.setClientName("My Client");
            ...

            api.createClient(client);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            client = Client()
            client.developer = 'john'
            client.clientName = 'My Client'
            ...

            api.createClient(client)
      tags:
        - Client Management
      x-speakeasy-group: clients
      x-speakeasy-name-override: create
      x-speakeasy-entity-operation: Client#create
  /api/{serviceId}/client/update/{clientId}:
    post:
      summary: Update Client
      description: |
        Update a client.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: integer
            format: int64
          required: true
          description: A client ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client'
            example:
              applicationType: WEB
              attributes:
                - key: attribute1-key
                  value: attribute1-value
                - key: attribute2-key
                  value: attribute2-value
              authTimeRequired: false
              bcUserCodeRequired: false
              clientIdAlias: my-client
              clientIdAliasEnabled: true
              clientName: My updated client
              clientType: CONFIDENTIAL
              defaultMaxAge: 0
              derivedSectorIdentifier: my-client.example.com
              developer: john
              dynamicallyRegistered: false
              frontChannelRequestObjectEncryptionRequired: false
              grantTypes:
                - AUTHORIZATION_CODE
                - REFRESH_TOKEN
              idTokenSignAlg: RS256
              parRequired: false
              redirectUris:
                - https://my-client.example.com/cb1
                - https://my-client.example.com/cb2
              requestObjectEncryptionAlgMatchRequired: false
              requestObjectEncryptionEncMatchRequired: false
              requestObjectRequired: false
              responseTypes:
                - CODE
                - TOKEN
              subjectType: PUBLIC
              tlsClientCertificateBoundAccessTokens: false
              tokenAuthMethod: CLIENT_SECRET_BASIC
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client'
              example:
                applicationType: WEB
                attributes:
                  - key: attribute1-key
                    value: attribute1-value
                  - key: attribute2-key
                    value: attribute2-value
                authTimeRequired: false
                bcUserCodeRequired: false
                clientId: 26478243745571
                clientIdAlias: my-client
                clientIdAliasEnabled: true
                clientName: My updated client
                clientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
                clientType: CONFIDENTIAL
                createdAt: 1639468356000
                defaultMaxAge: 0
                derivedSectorIdentifier: my-client.example.com
                developer: john
                dynamicallyRegistered: false
                frontChannelRequestObjectEncryptionRequired: false
                grantTypes:
                  - AUTHORIZATION_CODE
                  - REFRESH_TOKEN
                idTokenSignAlg: RS256
                modifiedAt: 1639557082764
                number: 6164
                parRequired: false
                redirectUris:
                  - https://my-client.example.com/cb1
                  - https://my-client.example.com/cb2
                requestObjectEncryptionAlgMatchRequired: false
                requestObjectEncryptionEncMatchRequired: false
                requestObjectRequired: false
                responseTypes:
                  - CODE
                  - TOKEN
                serviceNumber: 5041
                subjectType: PUBLIC
                tlsClientCertificateBoundAccessTokens: false
                tokenAuthMethod: CLIENT_SECRET_BASIC
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: The client was not found.
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_update_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://us.authlete.com/api/21653835348762/client/update/26478243745571 \
            -H 'Content-Type:application/json' \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "clientName": "My updated client", ... }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            // Get an existing client.
            long clientId = ...;
            Client client = api.getClient(clientId);

            // Update "client name".
            client.setClientName("My updated client");

            api.updateClient(client);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            # Get an existing client.
            clientId = ...
            client = api.getClient(clientId)

            # Update "client name".
            client.clientName = 'My updated client'

            api.updatedClient(client)
      tags:
        - Client Management
      x-speakeasy-group: clients
      x-speakeasy-name-override: update
      x-speakeasy-entity-operation: Client#update
  /api/{serviceId}/client/delete/{clientId}:
    delete:
      summary: Delete Client ⚡
      description: |
        Delete a client.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: integer
            format: int64
          required: true
          description: The client ID.
      responses:
        '204':
          description: The client was successfully deleted.
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: The client was not found.
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_delete_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X DELETE https://us.authlete.com/api/21653835348762/client/delete/26478243745571 \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long clientId = ...;

            api.deleteClient(clientId);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientId = ...

            api.deleteClient(clientId)
      tags:
        - Client Management
      x-speakeasy-group: clients
      x-speakeasy-name-override: destroy
      x-speakeasy-entity-operation: Client#delete
  /api/{serviceId}/client/lock_flag/update/{clientIdentifier}:
    post:
      summary: Update Client Lock
      description: |
        Lock and unlock a client
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientIdentifier
          schema:
            type: string
          required: true
          description: A client ID.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client_flag_update_request'
            example:
              clientLocked: true
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client_flag_update_request'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_flag_update_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_flag_update_api
      tags:
        - Client Management
      x-speakeasy-group: client_management
      x-speakeasy-name-override: update_lock_flag
  /api/{serviceId}/client/secret/refresh/{clientIdentifier}:
    get:
      summary: Rotate Client Secret
      description: |
        Refresh the client secret of a client. A new value of the client secret will be generated by the
        Authlete server.

        If you want to specify a new value, use `/api/client/secret/update` API.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientIdentifier
          schema:
            type: string
          required: true
          description: |
            The client ID or the client ID alias of a client.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_secret_refresh_response'
              example:
                resultCode: A148001
                resultMessage: '[A148001] Successfully refreshed the client secret of the client (ID = 26478243745571).'
                newClientSecret: 6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA
                oldClientSecret: gXz97ISgLs4HuXwOZWch8GEmgL4YMvUJwu3er_kDVVGcA0UOhA9avLPbEmoeZdagi9yC_-tEiT2BdRyH9dbrQQ
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_secret_refresh_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/21653835348762/client/secret/refresh/26478243745571 \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            String clientIdentifier = ...;

            api.refreshClientSecret(clientIdentifier);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientIdentifier = ...

            api.refreshClientSecret(clientIdentifier)
      tags:
        - Client Management
      x-speakeasy-group: client_management
      x-speakeasy-name-override: refresh_secret
  /api/{serviceId}/client/secret/update/{clientIdentifier}:
    post:
      summary: Update Client Secret
      description: |
        Update the client secret of a client.

        If you want to have the Authlete server generate a new value of the client secret, use `/api/client/secret/refresh`
        API.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientIdentifier
          schema:
            type: string
          required: true
          description: |
            The client ID or the client ID alias of a client.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client_secret_update_request'
            example:
              clientSecret: my_updated_client_secret
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client_secret_update_request'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_secret_update_response'
              example:
                resultCode: A149001
                resultMessage: '[A149001] Successfully updated the client secret of the client (ID = 26478243745571).'
                newClientSecret: my_updated_client_secret
                oldClientSecret: 6Rg_WDO23F0HSZe8GzE5_ZxRHD2pCA02M7T87s0MNOmnf8hg9eYScgeH6P_tb42yiaRuptJmMY12jwWuoy2KeA
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_secret_update_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v https://us.authlete.com/api/21653835348762/client/secret/update/26478243745571 \
            -H 'Content-Type:application/json' \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "clientSecret": "..." }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            String clientIdentifier = ...;
            String clientSecret = "my_updated_client_secret";

            api.updateClientSecret(clientIdentifier, clientSecret);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientIdentifier = ...
            clientSecret = 'my_new_client_secret'

            api.updateClientSecret(clientIdentifier, clientSecret)
      tags:
        - Client Management
      x-speakeasy-group: client_management
      x-speakeasy-name-override: update_secret
  /api/{serviceId}/client/authorization/get/list:
    get:
      summary: Get Authorized Applications
      description: |
        Get a list of client applications that an end-user has authorized.

        The subject parameter is required and can be provided as a query parameter.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: query
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
        - in: query
          name: developer
          schema:
            type: string
          required: false
          description: |
            Unique ID of a client developer.
        - in: query
          name: start
          schema:
            type: integer
            format: int32
          required: false
          description: Start index of search results (inclusive). The default value is 0.
        - in: query
          name: end
          schema:
            type: integer
            format: int32
          required: false
          description: |
            End index of search results (exclusive). The default value is 5.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_authorization_get_list_response'
              example:
                clients:
                  - clientId: 26478243745571
                    clientIdAlias: my-client
                    clientIdAliasEnabled: true
                    clientName: My client
                    clientType: CONFIDENTIAL
                    number: 6164
                end: 5
                start: 0
                subject: john
                totalCount: 1
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_authorization_get_list_api
      tags:
        - Client Management
    post:
      summary: Get Authorized Applications
      description: |
        Get a list of client applications that an end-user has authorized.

        The subject parameter is required.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client_authorization_get_list_request'
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client_authorization_get_list_request'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_authorization_get_list_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_authorization_get_list_api_post
      tags:
        - Client Management
    x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://us.authlete.com/api/client/authorization/get/list?subject=john\&start=0\&end=5 \
          -u '21653835348762:uE4NgqeIpuSV_XejQ7Ds3jsgA1yXhjR1MXJ1LbPuyls'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          ClientAuthorizationGetListRequest req = new ClientAuthorizationGetListRequest();
          req.setSubject("john");
          req.setStart(0);
          req.setEnd(5);

          api.getClientAuthorizationList(req);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          req = ClientAuthorizationGetListRequest()
          req.subject = 'john'
          req.start = 0
          req.end = 5

          api.getClientAuthorizationList(req)
  /api/{serviceId}/client/authorization/get/list/{subject}:
    get:
      summary: Get Authorized Applications (by Subject)
      description: |
        Get a list of client applications that an end-user has authorized.
        In this variant, the subject is provided in the path.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
        - in: query
          name: developer
          schema:
            type: string
          required: false
          description: |
            Unique ID of a client developer.
        - in: query
          name: start
          schema:
            type: integer
            format: int32
          required: false
          description: Start index of search results (inclusive). The default value is 0.
        - in: query
          name: end
          schema:
            type: integer
            format: int32
          required: false
          description: |
            End index of search results (exclusive). The default value is 5.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_authorization_get_list_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_authorization_get_list_by_subject_api
      tags:
        - Client Management
      x-speakeasy-group: client_management
      x-speakeasy-name-override: authorizations
  /api/{serviceId}/client/authorization/update/{clientId}:
    post:
      summary: Update Client Tokens
      description: |
        Update attributes of all existing access tokens given to a client application.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: |
            A client ID.
      requestBody:
        required: false
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/client_authorization_update_request'
            example:
              subject: john
              scopes:
                - history.read
          application/x-www-form-urlencoded:
            schema:
              $ref: '#/components/schemas/client_authorization_update_request'
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_authorization_update_response'
              example:
                resultCode: A138001
                resultMessage: '[A138001] Updated 1 access token(s) issued to the client (ID = 26478243745571) of the service (API Key = 21653835348762).'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          description: The client was not found.
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_authorization_update_api
      x-code-samples:
        - lang: shell
          label: curl
          source: |
            curl -v -X POST https://us.authlete.com/api/21653835348762/client/authorization/update/26478243745571 \
            -H 'Content-Type:application/json' \
            -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F' \
            -d '{ "subject": "john", "scopes": [ "history.read" ] }'
        - lang: java
          label: java
          source: |
            AuthleteConfiguration conf = ...;
            AuthleteApi api = AuthleteApiFactory.create(conf);

            long clientId = ...;

            ClientAuthorizationUpdateRequest req = new ClientAuthorizationUpdateRequest();
            req.setSubject("john");
            req.setScopes(new String[]{ "history.read" });

            api.updateClientAuthorization(clientId, req);
        - lang: python
          source: |
            conf = ...
            api = AuthleteApiImpl(conf)

            clientId = ...

            req = ClientAuthorizationUpdateRequest()
            req.subject = 'john'
            req.scopes = [ 'history.read' ]

            api.updateClientAuthorization(clientId, req)
      tags:
        - Client Management
      x-speakeasy-group: client_management
      x-speakeasy-name-override: update_authorizations
  /api/{serviceId}/client/authorization/delete/{clientId}:
    delete:
      summary: Delete Client Tokens
      description: |
        Delete all existing access tokens issued to a client application by an end-user.

        The subject parameter is required and must be provided as a query parameter.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: |
            A client ID.
        - in: query
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_authorization_delete_response'
              example:
                resultCode: A137001
                resultMessage: '[A137001] Deleted 3 access token(s) issued to the client (ID = 26478243745571) of the service (API Key = 21653835348762).'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_authorization_delete_api
      tags:
        - Client Management
    post:
      summary: Delete Client Tokens
      description: |
        Delete all existing access tokens issued to a client application by an end-user.

        The subject parameter is required.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: |
            A client ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                  description: Unique user ID of an end-user.
              required:
                - subject
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                subject:
                  type: string
                  description: Unique user ID of an end-user.
              required:
                - subject
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_authorization_delete_response'
        '429':
          $ref: '#/components/responses/429'
      operationId: client_authorization_delete_api_post
      tags:
        - Client Management
    x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v -X DELETE https://us.authlete.com/api/21653835348762/client/authorization/delete/26478243745571?subject=john \
          -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long clientId = ...;
          String subject = "john";

          api.deleteClientAuthorization(clientId, subject);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientId = ...
          subject = 'john'

          api.deleteClientAuthorization(clientId, subject)
  /api/{serviceId}/client/authorization/delete/{clientId}/{subject}:
    delete:
      summary: Delete Client Tokens (by Subject)
      description: |
        Delete all existing access tokens issued to a client application by an end-user.
        In this variant, the subject is provided in the path.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: |
            A client ID.
        - in: path
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_authorization_delete_response'
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_authorization_delete_by_subject_api
      tags:
        - Client Management
      x-speakeasy-group: client_management
      x-speakeasy-name-override: destroy_authorizations
  /api/{serviceId}/client/granted_scopes/get/{clientId}:
    get:
      summary: Get Granted Scopes
      description: |
        Get the set of scopes that a user has granted to a client application.
      x-mint:
        metadata:
          description: "Get the set of scopes that a user has granted to a client application."
        content: |
          <Accordion title="Full description" defaultOpen={false}>
          Possible values for `requestableScopes` parameter in the response from this API are as follows.

          ## null

          The user has not granted authorization to the client application in the past, or records about the
          combination of the user and the client application have been deleted from Authlete's DB.

          ## An empty set

          The user has granted authorization to the client application in the past, but no scopes are associated
          with the authorization.

          ## A set with at least one element

          The user has granted authorization to the client application in the past and some scopes are associated
          with the authorization. These scopes are returned.
          Example: `[ "profile", "email" ]`
          The subject parameter is required and must be provided as a query parameter.
          </Accordion>
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
          example: '715948317'
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: |
            A client ID.
          example: '1140735077'
        - in: query
          name: subject
          schema:
            type: string
          required: true
          description: |
            Unique user ID of an end-user.
      responses:
        '200':
          description: Successfully retrieved granted scopes
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_authorization_delete_response'
              example:
                type: GrantedScopesGetResponse
                serviceApiKey: 21653835348762
                clientId: 26478243745571
                subject: john
                latestGrantedScopes:
                  - history.read
                mergedGrantedScopes:
                  - history.read
                  - timeline.read
        '400':
          $ref: '#/components/responses/400'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '429':
          $ref: '#/components/responses/429'
        '500':
          $ref: '#/components/responses/500'
      operationId: client_granted_scopes_get_api
      tags:
        - Client Management
    post:
      summary: Get Granted Scopes
      description: |
        Get the set of scopes that a user has granted to a client application.

        The subject parameter is required.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
          description: |
            A client ID.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                subject:
                  type: string
                  description: Unique user ID of an end-user.
              required:
                - subject
          application/x-www-form-urlencoded:
            schema:
              type: object
              properties:
                subject:
                  type: string
                  description: Unique user ID of an end-user.
              required:
                - subject
      responses:
        '200':
          description: ''
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/client_authorization_delete_response'
        '429':
          $ref: '#/components/responses/429'
      operationId: client_granted_scopes_get_api_post
      tags:
        - Client Management
    x-code-samples:
      - lang: shell
        label: curl
        source: |
          curl -v https://us.authlete.com/api/21653835348762/client/granted_scopes/get/26478243745571?subject=john \
          -H 'Authorization: Bearer V5a40R6dWvw2gMkCOBFdZcM95q4HC0Z-T0YKD9-nR6F'
      - lang: java
        label: java
        source: |
          AuthleteConfiguration conf = ...;
          AuthleteApi api = AuthleteApiFactory.create(conf);

          long clientId  = 26478243745571;
          String subject = "john";

          api.getGrantedScopes(clientId, subject);
      - lang: python
        source: |
          conf = ...
          api = AuthleteApiImpl(conf)

          clientId = 26478243745571
          subject = 'john'

          api.getGrantedScopes(clientId, subject)
  /api/{serviceId}/client/granted_scopes/get/{clientId}/{subject}:
    get:
      summary: Get Granted Scopes (by Subject)
      description: |
        Get the set of scopes that a user has granted to a client application.
        In this variant, the subject is provided in the path.
      parameters:
        - in: path
          name: serviceId
          description: A service ID.
          required: true
          schema:
            type: string
        - in: path
          name: clientId
          schema:
            type: string
          required: true
[...]
